/* RESET */
body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav ul {
    list-style: none;
    display: flex;
    gap: 150px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(79, 145, 207);
}

/* PROFILE */
.profile-img {
    width: 400px;
    border-radius: 80px;
    float: left;
    margin-right: 20px;
}

.username {
    font-weight: bold;
    font-size: 70px;
    font-style: italic;
}

.clear {
    clear: both;
}

/* ===== TRIP SECTION NEW ===== */

.trip-section {
    text-align: center;
    margin-top: 40px;
}

.title {
    font-size: 28px;
    margin-bottom: 5px;
}

.subtitle {
    color: gray;
    margin-bottom: 30px;
}

.trip-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.trip-card {
    width: 320px;
}

.trip-card img {
    width: 350%;
    border-radius: 12px;
}

.trip-card figcaption {
    margin-top: 12px;
    font-size: 46px;
    font-weight: bold;
    font-style: italic;
}

/* ===== CONTACT SECTION ===== */

.contact {
    margin-top: 80px;
    padding: 40px;
    text-align: center;
    background: #f4f4f4;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin: 10px 0;
}

.contact a {
    color: rgb(79, 145, 207);
    text-decoration: none;
    font-weight: bold;
}